<div class="logos-footer" role="contentinfo" aria-label="Affiliations and partners">
  <div class="logos-container">
    <a href="https://ens-paris-saclay.fr/" target="_blank" rel="noopener"><img src="media/logos/ensalpha.png" alt="ENS Paris-Saclay"></a>
    <a href="https://www.master-mva.com/" target="_blank" rel="noopener"><img src="media/logos/mvaalpha.png" alt="Master MVA"></a>
    <a href="https://www.univ-toulouse.fr/" target="_blank" rel="noopener"><img src="media/logos/utoulousealpha.png" alt="Université de Toulouse"></a>
    <a href="https://tlseracing.fr/" target="_blank" rel="noopener"><img src="media/logos/tlsealpha.png" alt="TLS’e Racing"></a>
    <a href="https://www.upsilon-toulouse.fr/" target="_blank" rel="noopener"><img src="media/logos/upsialpha.png" alt="Upsilon Student Tech Consulting"></a>
    <a href="https://www.infotel.com/" target="_blank" rel="noopener"><img src="media/logos/infotelalpha.png" alt="Infotel Consulting"></a>
  </div>
</div>
